# Gradle build directory
build/
/.gradle/
/out/

# Gradle wrapper files
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties

# IntelliJ IDEA files
/.idea/
/*.iml
/out/

# Eclipse files
/.classpath
/.project
/.settings/

# VS Code files
.vscode/

# Mac OS files
.DS_Store

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Java class files
*.class

# Generated jar files
*.jar

# Maven specific (if mixing with Maven)
/target/

# Others
*.swp


*.zip
*.bin
.gradle

local.properties
target/
.idea
bin/
